.pizza-detail-container {
  display: flex;
  flex-direction: row;
  max-width: auto;
  margin: auto;
  margin-top: 70px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
}

.pizza-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.pizza-info {
  flex: 1;
  padding-left: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;
}

.banner-title {
  color: #d9534f;
  margin-bottom: 0.5rem;
}

.banner-subtitle {
  color: #5a5a5a;
  font-size: 1.1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

/* Estilos para la página de Carrito */
.carrito-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.carrito-img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.cantidad-controles {
  display: flex;
  align-items: center;
}

.cantidad-controles button {
  margin: 0 5px;
  padding: 0.25rem 0.5rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.btn-pago {
  padding: 10px 20px;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px; 
}

.btn-pago:hover {
  background-color: #218838;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .carrito-container {
    max-width: 95%;
    margin: 1rem auto;
  }
}
